{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2>Reset Password</h2>
            <hr />
            {% if template_data.error %}
            <div class="alert alert-danger" role="alert">
              {{ template_data.error }}
            </div>
            {% endif %}
            <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ template_data.user_id }}">
            <p>
                <label for="password_one">New Password:</label>
                <input id="password_one" type="password"
                       name="password_one" required
                       autocomplete="password"
                       class="form-control">
            </p>
            <p>
                <label for="password_two">Confirm Password:</label>
                <input id="password_two" type="password"
                       name="password_two" required
                       autocomplete="password"
                       class="form-control">
            </p>
            <button type="submit"
                    class="btn bg-dark text-white">Reset Password
            </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}